.techs {
    width: 100%;
    background-color: #272727;
    padding-top: 100px;
}

.techs__title {
    width: calc(100% - (70px * 2));
    margin: 0 auto 23px;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 23px;
}

.techs__subtitle {
    margin: 90px 0 26px;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    color: #fff;
}

.techs__text {
    width: 460px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}

.techs__list {
    margin: 100px 0 60px;
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.techs__icon{
    width: 90px;
    height: 60px;
    margin: 0 10px 0 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 17px;    
    color: #fff;
    background-color: #303030;
}

.techs__icon:last-child{
    margin: 0;
}

@media (max-width: 768px) {
    .techs {
        padding-top: 90px;
    }

    .techs__title {
        width: calc(100% - (50px * 2));
    }

    .techs__subtitle {
        margin: 80px 0 22px;
    }
    .techs__text {
        font-size: 12px;
        line-height: 18px;
    }
    .techs__list {
        margin: 83px 0 90px;
    } 
    .techs__icon {
        width: 84px;
        height: 57px;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.04em;
    }
    
}

@media (max-width: 680px) {    

    .techs__list {
    display: grid;
    grid-template-columns: repeat(4, 84px);
    gap: 10px;
    margin: 50px 0 70px;
} 
    
}

@media (max-width: 500px) {
    .techs {
        padding-top: 70px;
        background-color: #202020;
    }
    .techs__title {
        width: calc(100% - (18px * 2));
        padding-bottom: 28px;
    }
    .techs__subtitle {
        margin: 60px 0 24px;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: -0.04em;
    }
    .techs__text {
        width: calc(100% - (14px * 2));
        font-size: 11px;
        line-height: 16px;
        text-align: center;
        letter-spacing: -0.04em;
    }
    .techs__list {
        display: grid;
        grid-template-columns: repeat(2, 84px);
        gap: 10px;
        margin: 50px 0 70px;
    } 
}