.movies {
    width: 100%;
}

.movies__button {
    display: block;
    margin: 60px auto 0;
    width: 320px;
    height: 36px;
    background-color: inherit;
    border-radius: 4px;
    border: 1px solid #424242;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    transition: .5s;
    cursor: pointer;
}

.movies-card-list__button:hover {
    color: #3DDC84;
    border: 1px solid #3DDC84;
}

@media (max-width: 767px) {
    .movies__button {
        width: 240px;
        height: 36px;
        margin: 80px auto 80px;
    }
}